 
 <div id="root">
        <h1>Sign Up</h1>
        
    <form class="js-form" action="">
        <input type="text" name="name" placeholder="user name">
            <br>
        <input type="text" name="email" placeholder="user email">
            <br>
        <input type="text" name="password" placeholder="user password">
            <br>
        <input type="text" name="rePassword" placeholder="Repeat password,please">
            <br>
        <button type="submit">SUBMIT</button>
    </form>
</div>